.textContainer {
  display: flex;
  flex-direction: column;
  top: 0%;
  margin-left: 100px;
  color: white;
  height: 95%;
  justify-content: space-between;
}
.video-container{
  margin: 0px;
  padding: 0px;
  top: 0%;
}

.activeContainer {
  display: grid;
  align-items: center;
  margin-bottom: 10%;
  top: 0%;
}
.videoPlayer{
  top: 0%;
  /* height: 160%; */
  /* width: 70%; */
}
.videoLink {
  border-right: 3px solid rgb(214, 8, 8);
  height: 3rem;
  width: 85%;
}
.videoUpload {
  width: 15%;
  padding: 2px;
  background-color: rgb(96, 43, 157);
  color: #fff;
}
.videoForm {
  display: flex;
  border-radius: 8px;
  border: 3px solid rgb(100, 100, 100);
}

.chat-logo {
  width: 4rem;
  position: relative;
  top: 20px;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}