/* html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.App-logo {
  /* margin-left: 0%; */
  /* height: 80vmin; */
  height: 100vh;
  /* width: 100%; */
  /* margin-left: 0.5vw; */
  pointer-events: none;
  position: absolute;
  align-items: left;
  left: 0;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  /* background-color: #1A1A1D; */
  background-color: #16162c;
}

.joinInnerContainer {
  position: relative;
  align-items: center;
  left: -5%;
  /* right:initial; */
  top: 10%;
  width: 20%;
  margin: 20px 20px 20px 20px;
}

.upper-line {
  position: relative;
  right: -400px;
  top: -200px;
  color: white;
  font-size: 2rem;
  width: 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* white-space: initial; */
  /* margin: 10px 10px 10px 10px; */
}

.lower-line {
  position: absolute;
  right: 200px;
  top: 120px;
  color: white;
  font-size: 2rem;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

#Join-button {
  margin: 20px -20px -20px 20px;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 20px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

button:hover {
  color: green;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
    align-items: center;
  }

  .joinInnerContainer {
    width: 100%;
  }

  .App-logo {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1000px) {
  .joinOuterContainer {
    height: 100%;
    align-items: center;
    overflow: hidden;
  }

  .upper-line {
    width: 80%;
    position: fixed;
    margin-left: -50px;
    top: 10px;
    height: 50vh;
    left: 30px;
    margin: 50px 10px 10px 10px;
  }

  #Join-button {
    margin: 20px -20px 20px -20px;
    width: 70%;
  }

  .joinInnerContainer {
    width: 50%;
    height: 100vh;
    /* position: fixed; */
    bottom: -20%;
    align-items: center;
    margin-left: -20%;
    margin-bottom: 20%;
    bottom: -300px;
    left: 10%;
    overflow: hidden;
  }

  .App-logo {
    display: none;
  }
}

button:focus {
  outline: 0;
}
