.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #1A1A1D; */
  /* background-color: #16162c; */
  background-color: #0A0A0A;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 90%;
  width: 40%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100vh;
  }

  .container {
    width: 95%;
    height: 95vh;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}
